<h2>Admin Dashboard</h2>
<p>Welcome Admin: <%= username %></p>

<ul>
  <li><a href="/admin/add-resort">Add Resort</a></li>
  <li><a href="/admin/resorts">View Resorts</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
